
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

input::placeholder {
  color: #000000;
  opacity: 1; 
}
::placeholder {
  color: #000000;
  opacity: 1; 
}
